.container{
    justify-content: center;
    align-items: center;
    align-self: center;
}
.body{
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
}
